src/SixtenLabs.Spawn.OpenGL.Generator/Registry/gl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comment" type="xs:string" />
        <xs:element name="types">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="type">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" name="apientry" />
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="optional" />
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                  <xs:attribute name="requires" type="xs:string" use="optional" />
                  <xs:attribute name="api" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="groups">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="group">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="enum">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="enums">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="unbounded" name="enum">
                  <xs:complexType>
                    <xs:attribute name="value" type="xs:string" use="required" />
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="comment" type="xs:string" use="optional" />
                    <xs:attribute name="type" type="xs:string" use="optional" />
                    <xs:attribute name="alias" type="xs:string" use="optional" />
                    <xs:attribute name="api" type="xs:string" use="optional" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="unused">
                  <xs:complexType>
                    <xs:attribute name="start" type="xs:string" use="required" />
                    <xs:attribute name="end" type="xs:string" use="optional" />
                    <xs:attribute name="comment" type="xs:string" use="optional" />
                    <xs:attribute name="vendor" type="xs:string" use="optional" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="namespace" type="xs:string" use="required" />
            <xs:attribute name="group" type="xs:string" use="optional" />
            <xs:attribute name="type" type="xs:string" use="optional" />
            <xs:attribute name="comment" type="xs:string" use="optional" />
            <xs:attribute name="vendor" type="xs:string" use="optional" />
            <xs:attribute name="start" type="xs:string" use="optional" />
            <xs:attribute name="end" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="commands">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="command">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="proto">
                        <xs:complexType mixed="true">
                          <xs:sequence>
                            <xs:element minOccurs="0" name="ptype" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
                          </xs:sequence>
                          <xs:attribute name="group" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="param">
                        <xs:complexType mixed="true">
                          <xs:sequence>
                            <xs:element minOccurs="0" name="ptype" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
                          </xs:sequence>
                          <xs:attribute name="group" type="xs:string" use="optional" />
                          <xs:attribute name="len" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="vecequiv">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="alias">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="glx">
                        <xs:complexType>
                          <xs:attribute name="type" type="xs:string" use="required" />
                          <xs:attribute name="opcode" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="name" type="xs:string" use="optional" />
                          <xs:attribute name="comment" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="namespace" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="feature">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="require">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element maxOccurs="unbounded" name="type">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="comment" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="enum">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="comment" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="command">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                  <xs:attribute name="profile" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="remove">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="enum">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="command">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="profile" type="xs:string" use="required" />
                  <xs:attribute name="comment" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="api" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="number" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="extensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="extension">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="require">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:choice maxOccurs="unbounded">
                            <xs:element name="command">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required" />
                                <xs:attribute name="comment" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="enum">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required" />
                                <xs:attribute name="comment" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="type">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute name="comment" type="xs:string" use="optional" />
                        <xs:attribute name="api" type="xs:string" use="optional" />
                        <xs:attribute name="profile" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="supported" type="xs:string" use="required" />
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>